footer {
  margin-top: 50px;
  border-top: #0c0c0c solid 2px;
  background-color: #EEEEEE;
}
a {
  color: #5ecaff
}
.settings a {
  margin: 10px;
}
.finger {
  position: absolute;
  top: 400px;
  right: 100px;
  z-index: 1000;
  display: none;
}
@media only screen
and (min-device-width : 200px)
and (max-device-width : 800px){
  .finger {display: inline;}
}