<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Covid-19 data</h5>
                <p>Data source: https://covid.ourworldindata.org/</p>
                <p>#stayathome</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://covid.ourworldindata.org/data/full_data.csv">Data file</a>
                    </li>
                    <li>
                        <a href="https://github.com/mwalczak/covid19">Github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/m4t1k">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mateuszwalczak/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160714191-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160714191-1');
</script>
</body>
</html>